{
	categories = (
		{
			title = Main;
			icon = "publishers.png";
			path = (
				drink,
                type,
				area,
                district,
			);
		},
	);
	filters = {
		drink = {
			title = "Drink";
			property = drink;
		};
		type = {
			property = type;
			title = Type;
		};
		area = {
			property = area;
			title = Area;
		};
		district = {
			property = district;
			title = District;
		};
	};
}
