{
	categories = (
		{
			title = Publishers;
			icon = "publishers.png";
			path = (
				publishers,
				authors,
			);
		},
		{
			title = Date;
			icon = "date.png";
			path = (
				publishDate,
				genre,
			);
		},
		{
			title = Authors;
			icon = "authors.png";
			path = (
				authors,
			);
		},
		{
			title = Genres;
			icon = "genres.png";
			path = (
				genres,
			);
		},
	);
	filters = {
		publishDate = {
			title = "Publish Date";
			sections = "round:100";
			property = published;
		};
		publishers = {
			property = publisher;
			title = Publishers;
		};
		authors = {
			property = author;
			title = Authors;
			sections = alphainitial;
		};
		genres = {
			property = genre;
			title = Genres;
		};
	};
}