(
	{
        id = 1;
		title = "Blossom Hill White Zinfandel";
        htmlfile = "bhwz.html";
		properties = {
            producer = "Blossom Hill";
			type = "Rosé";
			drink = "Wine";
            area = "United States";
            district = "California";
		};
	},
	{
        id = 2;
		title = "Jacob's Creek Chardonnay";
        htmlfile = "jcc.html";
		properties = {
            producer = "Jacob's Creek";
			type = "White";
			drink = "Wine";
            area = "Australia";
            district = "Sydney Valley";
		};
	},
	{
        id = 3;
		title = "Jacob's Creek Chardonnay";
        htmlfile = "jcc.html";
		properties = {
            producer = "Jacob's Creek";
			type = "White";
			drink = "Wine";
            area = "Australia";
            district = "Sydney Valley";
		};
	},
	{
        id = 4;
		title = "A Rioja";
        htmlfile = "ar.html";
		properties = {
            producer = "A";
			type = "Red";
			drink = "Wine";
            area = "Europe";
            district = "Spain";
		};
	},
	{
        id = 5;
		title = "Boddingtons";
        htmlfile = "ar.html";
		properties = {
            producer = "Coors";
			type = "Ale";
			drink = "Beer";
            area = "Europe";
            district = "England";
		};
	},
	{
        id = 6;
		title = "Guinness Stout";
        htmlfile = "ar.html";
		properties = {
            producer = "Guinness";
			type = "Stout";
			drink = "Beer";
            area = "Europe";
            district = "Ireland";
		};
	},
	{
        id = 7;
		title = "Leffe";
        htmlfile = "leffe.html";
		properties = {
            producer = "Leffe";
			type = "Lager";
			drink = "Beer";
            area = "Europe";
            district = "Belgium";
		};
	},
	{
        id = 8;
		title = "Erdinger";
        htmlfile = "ar.html";
		properties = {
            producer = "Erdinger";
			type = "Lager";
			drink = "Beer";
            area = "Europe";
            district = "Belgium";
		};
	},
)
