body {
    font-family: Verdana, sans-serif;
}

h1 {
    font-family: Garamond, serif;
}


#links {
    float: right;
}

#links li {
    list-style: none;
    display: block;
    white-space: nowrap;
    margin: 4px;
    padding: 4px;
    background: #DDD;
}
